@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");
@font-face {
  font-family: digital7;
  src: url(digital-7-font/Digital7Italic-RBM3.woff);
}
@mixin vintageBorder() {
  border: {
    color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    width: thick;
    style: solid;
  }
}
body {
  background-color: grey;
}

h1 {
  text-align: center;
  font-family: "Comfortaa", cursive;
}
div {
  display: grid;
  box-sizing: border-box;
}
#calculator {
  margin: 0 auto;
  width: 270px;
  background-color: teal;
  grid: {
    template-rows: auto auto auto;
    row-gap: 10px;
  }
  box: {
    sizing: border-box;
    shadow: white 2px 2px 5px;
  }

  @include vintageBorder();
  padding-bottom: 10px;

  #output {
    background-color: black;
    color: yellow;
    width: 230px;
    height: 108px;
    font: {
      size: 25px;
      family: "digital7";
    }
    letter-spacing: 2px;
    text-align: left;
    box-sizing: border-box;
    @include vintageBorder();
    border-width: medium;
    margin: 0 auto;
  }

  #numberPad,
  #operationPad {
    grid: {
      template-columns: 70px 70px 70px;
      row-gap: 10px;
      column-gap: 10px;
    }

    margin: 0 auto;

    .button {
      width: 70px;
      height: 70px;
      background-color: #dcd6bc;
      color: black;
      font-size: 50px;
      font-family: "Comfortaa", cursive;
      justify-content: center;
      box-sizing: border-box;
      @include vintageBorder();
      user-select: none;
    }

    .button:hover {
      @extend .button;
      box-shadow: white 2px 2px 5px;
    }

    .button:active {
      @extend .button;
      box-shadow: grey 2px 2px 5px;
      transform: translateY(4px) translateX(3px);
    }
  }
}

#footer {
  background-color: red;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  list-style: none;
  display: grid;
  table {
    margin: 0 auto;
  }
  a {
    color: black;
    font-size: 2em;
  }
  i {
    text-align: right;
  }
  p {
    color: white;
    font: {
      family: "Comfortaa", cursive;
      size: 1em;
    }
  }
}
